{{define "view/main/login.html"}}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta charset="utf-8">
    <title>用户登录|On The Road</title>
    <link rel="icon" href="picture.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
<div class="alls"></div>
<div class="uploadphoto">
    <div class="uploadphoto-left">
        <!-- 导航头部 -->
        <div class="top-box">
            <div class="logo-box pull-left">
                <a href="#">On The Road</a>
            </div>
            <div class="menu-box pull-right">
                <a class="aside-menu" id="aside-menu" href="javascript:;">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
        <!-- END top-box -->
    </div>
    <!-- END uploadphoto-left -->

{{template "views/common/aside.html"}}
</div>
<!-- END uploadphoto -->

<style type="text/css">

</style>
<div class="loginWin-container">
    <div class="loginWin-container-l">
        <div class="loginWin-head">
            <h3>用户登录</h3>
        </div>
        <form id="UserLoginFrom" action="" method="post" onsubmit="return false">
            <div class="loginWin-inputbox">
                <input id="Username" type="text" placeholder="请输入用户名或邮箱" v-model="username"/>
            </div>
            <div class="loginWin-inputbox">
                <input id="Password" type="password" placeholder="请输入密码" v-model="password"/>
            </div>
            <div class="rememberme">
                <a href="javascript:;">忘记密码？</a>
                <a class="pull-right" href="register.jsp">没有账号？点击注册</a>
            </div>
            <button class="loginWin btn btn-danger btn-lg btn-block" id="LoginBtn" type="button" v-on:click="userLogin">
                登录
            </button>
        </form>
    </div>
</div>
{{template "views/common/common_js.html"}}
<script type="text/javascript">
    var UserLoginFrom = new Vue({
        el: '#UserLoginFrom',
        data: {
            username: "",
            password: ""
        },
        methods: {
            userLogin: function(event) {
                var reqJson = {
                    "Username": this.username,
                    "Password": this.password
                }
                apiRequest('/login', reqJson, "POST").then(res => {
                    if (res['result'] == "ok"){
                        window.location.href="/index"
                    }
                }).catch(err => {
                })
            }
        }
    })


</script>
</body>
</html>
{{end}}