{{define "view/main/login.html"}}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta charset="utf-8">
    <title>用户登录|On The Road</title>
    <link rel="icon" href="picture.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/login.css">


    <script src="/static/js/dropdown.js"></script>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            $("#aside-menu").click(function(){
                var asideWidth = $(".aside").width() ;
                $(".uploadphoto-left").css({"right":asideWidth + "px"});
                $(".alls").css({"display":"block"}) ;
                $(".aside-navbar").css({"left":"-" + (asideWidth) + "px"}) ;
                $("#aside-menu").css({"display":"none"}) ;
                $(".loginWin-container").css({"left":"-" + (asideWidth) + "px"}) ;
                $("body").css({"overflow-y":"hidden"}) ;
            });

            $(".alls").click(function(){
                var asideWidth = $(".aside").width() ;
                $(".uploadphoto-left").css({"right":"0px"}) ;
                $(".alls").css({"display":"none"}) ;
                $(".aside-navbar").css({"left":"0px"}) ;
                $("#aside-menu").css({"display":"block"}) ;
                $(".aside-photos").css({"left":asideWidth + "px"}) ;
                $(".loginWin-container").css({"left":"0px"}) ;
                $("body").css({"overflow-y":"auto"}) ;
            });

            /*点击照片详情*/
            $("#phtots").click(function(){
                var asideWidth = $(".aside").width() ;
                $(".aside-photos").css({"left":"-" + asideWidth + "px"}) ;
            }) ;

            $(".aside-exit").click(function(){
                var asideWidth = $(".aside").width() ;
                $(".uploadphoto-left").css({"right":"0px"}) ;
                $(".aside-navbar").css({"left":"0px"}) ;
                $(".alls").css({"display":"none"}) ;
                $(".aside-photos").css({"left":asideWidth + "px"}) ;
                $("#aside-menu").css({"display":"block"}) ;
                $(".loginWin-container").css({"left":"0px"}) ;
                $("body").css({"overflow-y":"auto"}) ;
            }) ;

        });
    </script>
</head>
<body>
<div class = "alls"></div>
<div class = "uploadphoto">
    <div class = "uploadphoto-left">
        <!-- 导航头部 -->
        <div class = "top-box">
            <div class = "logo-box pull-left">
                <a href = "#">On The Road</a>
            </div>
            <div class = "menu-box pull-right">
                <a class = "aside-menu" id = "aside-menu" href = "javascript:;">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
        <!-- END top-box -->
    </div>
    <!-- END uploadphoto-left -->

    <div class = "uploadphoto-right">
        <!-- 侧边栏 -->
        <div id = "aside" class = "aside">
            <!-- 侧边栏信息 -->
            <div class = "aside-navbar  pull-right">
                <p class = "aside-exit pull-right">
                    <img class = "" src = "/static/images/1.png" width = "20" height="20" />
                </p>
                <ul>
                    <li>
                        <a href = "index.jsp">今日照片</a>
                    </li>
                    <li>
                        <a href = "gallery.jsp">网友上传</a>
                    </li>
                    <li>
                        <a id = "phtots" href = "javascript:;">照片介绍</a>
                    </li>
                    <li>
                        <a href = "iupdate.jsp">我的上传</a>
                    </li>
                </ul>
                <p>
                    <a class = "photos_participate" href = "findlogins.action" style = "width:80%">
                        我要上传
                    </a>
                </p>
            </div>
            <!-- END aside-navbar -->

            <div id = "aside-photos" class = "aside-photos">
                <p class = "aside-exit pull-right">
                    <img class = "" src = "/static/images/1.png" width = "20" height="20" />
                </p>
                <div class = "aside-photos-centen">
                    <div>
                        <h3>On The Road</h3>
                        <div class = "aside-photos-hr"></div>
                        <p>
                            走过春夏秋冬的景，路过形形色色的人。那些转瞬即逝的时光，那些动人心扉的美好，那些可遇不可求的新奇…… 都值得你用心感受它，用手中的手机留住它。
                        </p>
                    </div>

                    <div style = "margin-top:30px">
                        <h3>参与规则</h3>
                        <div class = "aside-photos-hr"></div>
                        <p>1、所有作品必须由手机拍摄完成；</p>
                        <p>2、手机可以使用附加镜头，可以运用滤镜等各种App进行后期制作，并需带有EXIF信息，以验证其真实性。在某些情况下，我们需要验证作品是否为手机拍摄，如无法验证其真实性，我们将取消资格；</p>
                        <p>3、投稿作品比例尺寸建议 4：3为佳，上传文件类型 jpg、jpeg、png 均可，每位用户每天最多上传3张照片，每张照片大小不超过10M；</p>
                        <p>4、作品应健康，遵守国家相应法律法规，尊重世界各地区宗教信仰及文化。</p>
                        <p>5、主题共分为人像、建筑、风光、城市、旅行、微距等 16 大项。</p>
                        <p>6、入选后将其优秀照片放置首页。</p>
                    </div>

                    <div style = "margin-top:50px">
                        <h3>如何参与</h3>
                        <div class = "aside-photos-hr"></div>
                        <p>1、上传照片前请先注册或登录On The Road账户；</p>
                        <p>2、登录成功后，点击“我要参加”上传照片；</p>
                        <p>3、填写个人信息及照片信息，上传照片，点击提交即可；</p>
                        <p>4、你可以在“我的上传”页面中查看你上传过的照片。</p>
                    </div>
                    <p style = "margin-top:40px ;margin-bottom:40px ;">
                        备注：关于On The Road活动的最终解释权归younghot所有。
                    </p>
                    <p>
                        <a class = "photos_participate" href = "findlogins.action">
                            我要参加
                        </a>
                    </p>
                </div>
            </div>
            <!-- END aside-photos -->
        </div>
    </div>
    <!-- END all -->
</div>
<!-- END uploadphoto -->

<style type="text/css">

</style>
<div class = "loginWin-container">
    <div class = "loginWin-container-l">
        <div class = "loginWin-head">
            <h3>用户登录</h3>
        </div>
        <form action = "findlogin.action" method = "post">
            <div class = "loginWin-inputbox">
                <input name = "username" type = "text" placeholder = "用户名或邮箱" />
            </div>
            <div class = "loginWin-inputbox">
                <input name = "password" type = "password" placeholder="密码" />
            </div>
            <div class = "rememberme">
                <a href = "javascript:;">忘记密码？</a>
                <a class = "pull-right" href = "register.jsp">没有账号？点击注册</a>
            </div>
            <button class = "loginWin btn btn-danger btn-lg btn-block" type = "submit">
                登录
            </button>
        </form>
    </div>
</div>

</body>
</html>
{{end}}