{{define "view/main/register.html"}}
<html>
<head>
    <meta charset="utf-8">
    <title>用户注册|On The Road</title>
    <link rel="icon" href="picture.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
<div class = "alls"></div>
<div class = "uploadphoto">
    <div class = "uploadphoto-left">
        <!-- 导航头部 -->
        <div class = "top-box">
            <div class = "logo-box pull-left">
                <a href = "index.jsp">On The Road</a>
            </div>
            <div class = "menu-box pull-right">
                <a class = "aside-menu" id = "aside-menu" href = "javascript:;">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
        <!-- END top-box -->
    </div>
    <!-- END uploadphoto-left -->

    {{template "views/common/aside.html"}}
</div>

<!-- END uploadphoto -->
<div class = "registerWin-container">
    <div class = "registerWin-container-l">
        <div class = "registerWin-head">
            <h3>用户注册</h3>
        </div>
        <form action = "" method = "post">
            <div class = "registerWin-inputbox">
                <input type = "text" placeholder = "用户名" />
            </div>
            <div class = "registerWin-inputbox">
                <input type = "password" placeholder="密码" />
            </div>
            <div class = "registerWin-inputbox">
                <input type = "email" placeholder="昵称" />
            </div>
            <div class = "registerWin-inputbox">
                <input type = "email" placeholder="电子邮箱" />
            </div>
            <div class = "registerWin-inputbox">
                <input type = "email" placeholder="个人主页" />
            </div>
            <button class = "registerWin btn btn-danger btn-lg btn-block" type = "submit">
                注册
            </button>
        </form>
    </div>
</div>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/dropdown.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

        $("#aside-menu").click(function(){
            var asideWidth = $(".aside").width() ;
            $(".uploadphoto-left").css({"right":asideWidth + "px"});
            $(".alls").css({"display":"block"}) ;
            $(".aside-navbar").css({"left":"-" + (asideWidth) + "px"}) ;
            $("#aside-menu").css({"display":"none"}) ;
            $(".registerWin-container").css({"left":"-" + (asideWidth) + "px"}) ;
            $("body").css({"overflow-y":"hidden"}) ;
        });

        $(".alls").click(function(){
            var asideWidth = $(".aside").width() ;
            $(".uploadphoto-left").css({"right":"0px"}) ;
            $(".alls").css({"display":"none"}) ;
            $(".aside-navbar").css({"left":"0px"}) ;
            $("#aside-menu").css({"display":"block"}) ;
            $(".aside-photos").css({"left":asideWidth + "px"}) ;
            $(".registerWin-container").css({"left":"0px"}) ;
            $("body").css({"overflow-y":"auto"}) ;
        });

        /*点击照片详情*/
        $("#phtots").click(function(){
            var asideWidth = $(".aside").width() ;
            $(".aside-photos").css({"left":"-" + asideWidth + "px"}) ;
        }) ;

        $(".aside-exit").click(function(){
            var asideWidth = $(".aside").width() ;
            $(".uploadphoto-left").css({"right":"0px"}) ;
            $(".aside-navbar").css({"left":"0px"}) ;
            $(".alls").css({"display":"none"}) ;
            $(".aside-photos").css({"left":asideWidth + "px"}) ;
            $("#aside-menu").css({"display":"block"}) ;
            $(".registerWin-container").css({"left":"0px"}) ;
            $("body").css({"overflow-y":"auto"}) ;
        }) ;

    });
</script>
</body>
</html>
{{end}}